<!doctype html>
<html ng-app="app">

<head>
    <style>
        .ui.button {
            width: 150px;
        }
    </style>
</head>

<body ng-controller="AppCtrl" class="ui container">
    <!-- MENU -->
    <div class="ui menu">
        <a class="item" ng-click="setProperty(item)" ng-repeat="item in data.menu">{{item.name}}</a>
    </div>

    <!-- SEARCH -->
    <game-search games="data.games " property="data.property"></game-search>

    <br/>

    <!-- EDITOR -->
    <game-table games="data.games" property="data.property"></game-table>
</body>

<!-- ======================================================================= -->
<!-- JS -->
<!-- ======================================================================= -->
<!-- LIBS -->
<script src="bower_components/lodash/dist/lodash.js "></script>
<script src="bower_components/angular/angular.js "></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js "></script>
<script src="bower_components/ng-tags-input/ng-tags-input.js "></script>

<link rel="stylesheet " href="bower_components/ng-tags-input/ng-tags-input.css ">
<link rel="stylesheet " href="bower_components/semantic/dist/semantic.css ">

<!-- APP -->
<script src="app.js "></script>
<script src="services/client.js "></script>
<script src="components/game-search.js "></script>
<script src="components/game-editor.js "></script>
<script src="components/entity-selector.js "></script>

</html>